body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    background-color: #FAFAFA;
}

table, th, td {
    border: 1px solid black;
    padding: 15px;
    margin: auto;
}

#container {
    margin: auto;
    width: 50%;
    border: 3px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}